@font-face {
  font-family: 'MrRobot';
  font-style: normal;
  font-weight: normal;
  src: local('MrRobot'), url('../fonts/MR\ ROBOT.woff') format('woff');
  }


body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9FAFB;
  box-sizing: border-box;
}

.header {
  margin: 0 auto 30px auto;
  display: flex;
  flex-wrap: nowrap ;
  justify-content: flex-end;
  width: 90%;
}

.content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  height: 8em;
  width: 50%;
  padding: 10px;
  font-size: 1rem;
}

select {

    width: 14em;
    height: 2em;
    font-size: 1rem;
}



/* Tipografia */

a {
  color: #00B7FF;
  padding: 0;
  cursor: pointer;
}

h1 {
  font-family: 'MrRobot';
  font-size: 3rem;
  color: #EF4444;
  letter-spacing: .3rem;
}

h2 {
  
  font-size: 1.5rem;
  color: black;
}

p {
  padding: 0;
}



.header-link {
  font-family: Arial;
  font-size: 1.4rem;
  color: black;
  padding-right: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.header-link:hover {
  font-size: 1.5rem;
  
}

.record-link {
  color: purple;
}

.big-name {
  color: #18181B;
  font-size: 1.3rem
}

.modest-name {
  color: #27272A;
  font-size: 1.2rem;
}


img {
  height: 7rem;
  width: 7rem;
}



/* Diseno */

.info-box {
  margin: 0 auto;
  display: block;
  width: 70%;
  
}

.record-box {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: 100%;
  border: solid 2px black;
  padding: 10px;
  margin-bottom: 0.7em;
  border-radius: 20px;
  width: 90%;
  max-width: 600px;
}

.record-info {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.record-pic {
  grid-column-start: 3;
  grid-column-end: 4;
}

.btn {
  margin: 10px auto;
  color: #27272A;
  padding: 5px 8px;
  font-size: 1rem
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 60%;
  margin: 0 auto;
}

.form-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  width: 90%;
  
}

label {
  color: #18181B;
  font-size: 1.2rem;
  margin: 0
}

input {
  grid-column: 3/4;
  margin: 10px;
  width: 90%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.form-link {
  margin: 1em;
  color: #EF4444;
}

.genre-checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
}

.genre-element {
  flex-wrap: wrap;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.checkbox-input {
  margin-right: 1rem;
  padding: 0;
  width: auto;
}

@media (max-width: 900px) {

  .content {
    margin: 0 auto;
    width: 80%;
  }

  h1 {
    
    font-size: 2.3rem;
   
  }
  .record-box {
    display: flex;

    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .info-box {
    width: 100%;
  }

  .record-pic {
    margin: 0 auto;
  }

  .header {
    justify-content: center;
    width: 80%;
  }

  .form-group {
    flex-direction: column;
    width: 100%;
  }

  .form-element {
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
  }

  label {
    width: 80%;
    margin-bottom: 1rem;
  }

  input {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  textarea {

    width: 90%;
   
  }

  .genre-checklist {
    flex-gap: 1rem;
   
  }

 
}

@media (max-width: 400px) {

  h1 {
    
    font-size: 1.9rem;
   
  }
  .header-link {
    font-size: 1rem;
    
  }
}